.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-nav{
  width: 130px;
  height: 35px;
  color: blue;
  border-radius: 5px;
}
.signup{
  font-size: 20px;
  font-weight: 500;
}
.margin-btn{
  margin-right: 50px;
}
.margin-btn:hover{
  background-color: #23dcfc;
}
.form-1{
  margin-top: 100px;
}
.form-head{
  margin-top: 50px;
  text-align: center;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
.form-content{
  text-align: center;
  align-items: center;
}
.form-bot{
  margin-bottom: 50px;
}
.form-2 button{
  width: 220px;
  margin-top: 20px;
  background-color: #395afa;
}
.form-2 button:hover{
  background-color: #fff;
}
.form-2{
  margin-left: 70px;
  
}
.form-2 input{
  width: 220px;
  
}
.sign{
color: #c506cc;
cursor: pointer;
}
.bg-color{
  background-color:#e4f6f7;
}
.bg-color1{
  background-color: #2074fa;
}
.form-top{
  margin-top: 70px;
}